.add-list {
  &__popup{
    width: 235px;
    height: 160px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 18px;
    box-sizing: border-box;
    position: relative;
    top: -30px;
    .button{
      width: 100%;
      margin-top: 12px;
    }
    &-close-btn {
      position: absolute;
      right: -12px;
      top: -8px;
      cursor: pointer;
    }
    &-colors{
      display: flex;
      justify-content: space-between;
      margin-top: 12px;
      .badge {
        height: 18px;
        width: 18px;
        border-radius: 50px;
        cursor: pointer;
        border: 2px solid transparent;
        &.active{
          border: 2px solid #08001A;
        }
      }
    }
  }
}