.badge {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  position: relative;
  display: inline-block;
  &--red {
    background-color: #FF6464;
  }
  &--black {
    background-color: #393939;
  }
  &--grey {
    background-color: #C9D1D3;
  }
  &--lime {
    background-color: #B6E6BD;
  }
  &--purple {
    background-color: #C355F5;
  }
  &--green {
    background-color: #42B883;
  }
  &--blue {
    background-color: #64C4ED;
  }
  &--pink {
    background-color: #FFBBCC;
  }
}