.content {
  max-width: 800px;
  margin: 5rem auto;
  transform: translate(0px, 150px);
}
.chart {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background: #fff;
  padding: 1rem;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.2);
}

.canvas {
  align-items: center;
  border: 1px solid black;
}